@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "utilities.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #cec362;
  --background-light-color: #fefcfb;
  --background-dark-color: #272727;
  --header-light-color: #fffefe;
  --text-color: #0f0f0f;
  --text-light-color: #fff;
  --text-accessibility-color: #7c7c7c;
  --background-accessibility-color: #efefef;
  --secondary-color: #183683;
  --warning-color: #feb624;
  --success-color: #3c645b;

  --max-width: "1500px";
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

h1 {
  color: var(--header-light-color);
  font-size: 3rem;
}

body {
  min-height: 100vh;
  background-color: var(--background-dark-color);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: var(--max-width);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--background-light-color);
}

img {
  max-width: 125px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}

input[type="text"],
input[type="password"],
input[type="date"] button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  color: black;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

select {
  font-size: 1.05rem;
  color: black;
}

.keywords-container {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 3px;
  width: min(80vw, var(--max-width));
  margin-top: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  gap: 5px 15px;
}

.keywords-item {
  background-color: var(--background-accessibility-color);
  color: var(--text-color);
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
}

.keywords-delete {
  height: 20px;
  width: 20px;
  padding: 0.2rem;
  color: var(--text-light-color);
  background: var(--background-dark-color);

  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.5rem;
  font-size: 15px;
  cursor: pointer;
}

.keywords-input {
  padding: 0.5rem;
}

.note__italic {
  font-style: italic;
  font-size: 0.85rem;
}
