@use "styles/partials/index" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "utilities.css";
/* ACTIVE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

html {
  font-size: 1rem;
  background-color: #ececec;
}
body {
  min-height: 100vh;
  background-color: $background-light-color;
}

.App-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.2rem;
}

.text {
  &--bold {
    font-weight: bold;
  }
  &--light {
    color: $text-light-color;
  }
}
// helper
.mb-p5 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-1p5 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2p5 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
.mt-p5 {
  margin-bottom: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}

.mt-1p5 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2p5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}
.header-dark {
  color: var(--header-dark-color);
}

section {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-light-color);
}

button {
  padding: 0.5rem;
  color: black;
  font-size: $desktop-btn-regular;
}

.line {
  display: inline-block;
}

select {
  font-size: 1.05rem;
  color: black;
}

.note__italic {
  font-style: italic;
  font-size: 0.85rem;
}

.icon {
  &-highlight {
    color: $warning-color;
  }
  &-copy {
    color: #323232;
  }
  &-left {
    padding-right: 0.625rem;
  }
  &-right {
    padding-left: 0.625rem;
  }
  &-large {
    font-size: 2rem;
  }
  &-medium {
    font-size: 1.5rem;
  }
  &-small {
    font-size: 1rem;
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.update-profile-options {
  display: flex;
  flex-wrap: row;
  justify-content: left;
  gap: 20px;
}

.project-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.project-task-upload-btn {
  margin-top: 0;
  width: 110px;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-color);
}

/* Modal */
.project-modal {
  height: 100vh;
}

/* Helper Classes */

.btn-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.btn-holder-column {
  display: flex;
  flex-direction: column;
}

.reset-margin-top {
  margin-top: 0;
}

.btn-small {
  width: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--payment {
  font-size: 0.75rem;
}

.btn-dark {
  color: var(--text-light-color);
  background-color: var(--background-dark-color);
  border-radius: 25px;
}

.btn-light {
  color: var(--text-dark-color);
  background-color: var(--background-accessibility-grey);
  border-radius: 25px;
}

.btn-close-project {
  margin-top: 0;
}

.btn-page-five {
  width: 200px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-center {
  text-align: center;
}

.comment-list {
  font-size: 0.75rem;
  margin-left: 22px;
}

.comment-list__header {
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

/* Stripe Form */

.FormGroup {
  margin: 16px 0 0;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.stripe-btn {
  display: block;
  font-size: 16px;
  width: 100%;
  height: 40px;
  margin: 16px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

// Used on all pages

.colab-folder-logo {
  width: 3.286rem;
  height: 2.5555rem;
}

.colab-text-logo {
  width: 121px;
  height: 29px;
}

.text--underline {
  text-decoration: underline;
  color: $text-dark-grey;
}

.flex-col {
  display: flex;
  flex-direction: column;
  &-center {
    align-items: center;
    justify-content: center;
  }
  &--gap {
    gap: 1rem;
  }
}

// Update Profile, Create Project Modal
.keywords-container {
  border: none;
  border-radius: 3px;
  width: min(80vw, var(--max-width));
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  gap: 5px 15px;
  margin-bottom: 1rem;
  &--guidelines {
    margin-bottom: 0;
  }
}

.keywords-item {
  border: 1px solid $form-border-color;
  background-color: var(--background-accessibility-color);
  color: var(--text-dark-color);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.keywords-text {
  font-size: 1rem;
}

.keywords-delete {
  width: 20px;
  color: $text-dark-grey;
  background: $background-light-color;
  font-weight: bolder;
  border: 1px solid $form-border-color;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.hashtags-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $form-border-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}
.keywords-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $form-border-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}
.phrases-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $form-border-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}
.keywords-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $form-border-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}
.tags-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $form-border-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.hashtags-delete {
  width: 20px;
  color: $text-dark-grey;
  background: $background-light-color;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}
.phrases-delete {
  width: 20px;
  color: $text-dark-grey;
  background: $background-light-color;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}
.tags-delete {
  width: 20px;
  color: $text-dark-grey;
  background: $background-light-color;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.div-align-left {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.label-row-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  &--justify-left {
    justify-content: left;
  }
  &--left {
    justify-content: left;
    gap: 5rem;
  }

  &--half {
    width: 50%;
  }
  &--guidelines {
    gap: 16rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &--half {
      width: 50%;
    }

    &--keywords {
      width: 70%;
    }

    &--revisions {
      width: 30%;
    }

    &--compensation {
      width: 25%;
    }
  }
}

.label-col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--accept {
    align-items: center;
    gap: 1rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  &--preview {
    width: 50%;
  }

  &--guidelines {
    gap: 2rem;
  }
}

.heading-large {
  font-family: "SF Pro";
  font-size: 48px;
  margin-bottom: 0.5rem;
}

.heading {
  font-family: "SF Pro";
  margin-bottom: 0.5rem;

  &--small {
    font-size: 32px;
  }

  &--medium {
    font-size: 40px;
  }

  &--large {
    font-size: 48px;
  }
  &--largest {
    font-size: 64px;
  }
}

// Button Classes
.btn {
  &-skip {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: $text-dark-grey;
    min-width: 17rem;
  }

  &-accept {
    background-color: $text-dark-color;
    color: $text-light-color;
    border: 1px solid $text-dark-color;
    border-radius: 91px;
    padding: 8px 48px;
    width: 35%;
    font-size: 1.25rem;
    &--small {
      width: 15%;
    }
    &--disabled {
      background-color: $btn-grey-color;
      border: none;
    }
  }
  // project modal - contract accept button
  &-negotiate {
    background-color: $text-light-color;
    color: $text-dark-color;
    border: 1px solid $text-dark-color;
    border-radius: 91px;
    padding: 8px 48px;
    width: 35%;
    &--white {
      background-color: $background-light-color;
      color: $text-dark-color;
    }

    &--disabled {
      color: $text-dark-grey;
      border: 1px solid $btn-grey-color;
    }
  }

  // project-modal-navbar
  &-modal-navbar {
    background: transparent;
    border: none;
    color: $text-dark-color;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 1rem 1rem;
    width: 15%;
    text-align: center;
    &--highlight {
      border-bottom: 1px solid $background-dark-color;
      padding-bottom: 1rem;
    }
    &--greyed {
      color: #6060604c;
    }
  }

  // project modal page 4 (guidelines)
  &-copy {
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }

  &-dotted {
    border: 1px dashed $form-border-color;
    color: $text-dark-color;
    border-radius: 91px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
    width: 15%;
    font-size: 1rem;
    background-color: $background-light-color;
    &--medium {
      width: 25%;
    }
    &--large {
      width: 35%;
    }
    &--full {
      width: 100%;
    }
    &--success {
      background-color: var(--success-color);
      color: var(--text-light-color);
    }
  }

  &-cta {
    width: 100%;
    border-radius: 91px;
    border: none;

    margin-bottom: 1rem;
    padding: 0.5rem 3rem;
    font-size: $desktop-btn-regular;
    background-color: $text-dark-color;
    color: $text-light-color;
    // min-width: 17rem;
    max-width: 18rem;

    &--medium {
      width: 35%;
    }

    &--active {
      background-color: $text-dark-color;
      color: $text-light-color;
      border: none;
    }

    &--inactive {
      background-color: $btn-grey-color;
      border: none;
      color: $text-light-color;
    }

    &--skip {
      border: none;
      margin: 0;
      padding: 0;
      color: $text-dark-grey;
    }

    &--transparent {
      padding: 0.5rem 3rem;
      width: 100%;
      height: 40px;
      border: 1px solid $btn-grey-color;
      border-radius: 91px;
      background: transparent;
      color: $btn-grey-color;
    }

    &--small {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      width: 200px;
    }
  }

  &-blank {
    border: none;
    color: $text-dark-grey;
  }

  &-hide {
    font-size: 1rem;
    border: none;
    padding: 0.4rem;
    background-color: rgb(254, 252, 251);
    &:hover {
      cursor: pointer;
    }

    &--light {
      color: $text-light-color;
    }
  }
}
.btn-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  &--col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--right {
    justify-content: right;
  }

  &--center {
    justify-content: center;
    gap: 1rem;
  }

  &--full {
    width: 100%;
  }
  &--gap {
    gap: 2rem;
  }
}

.link {
  &--white {
    color: $text-light-color;
    :visited {
      color: $text-light-color;
    }
  }
  &--dark {
    color: $text-dark-color;
    &:visited {
      color: $text-dark-color;
    }
  }
}

.fs {
  &-small {
    font-size: 0.8rem;
  }
}
