@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "utilities.css";
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "SF Pro";
  src: url("../../assets/fonts/SF-Pro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: expanded;
}
/* Desktop + Tablet Font Sizes */
/* ACTIVE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

html {
  font-size: 1rem;
  background-color: #fcfcfc;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

.App-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

ul {
  list-style: none;
}

h1 {
  /* color: var(--header-light-color); */
  font-size: 2.2rem;
}

.text--bold {
  font-weight: bold;
}
.text--light {
  color: #fff;
}

.mb-p5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-1p5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2p5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-p5 {
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-1p5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2p5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.header-dark {
  color: var(--header-dark-color);
}

section {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-light-color);
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

button {
  padding: 0.5rem;
  color: black;
  font-size: 20px;
}

.line {
  display: inline-block;
}

select {
  font-size: 1.05rem;
  color: black;
}

.note__italic {
  font-style: italic;
  font-size: 0.85rem;
}

.icon-highlight {
  color: #feb624;
}
.icon-copy {
  color: #323232;
}
.icon-left {
  padding-right: 0.625rem;
}
.icon-right {
  padding-left: 0.625rem;
}
.icon-medium {
  font-size: 1.5rem;
}
.icon-small {
  font-size: 1rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.update-profile-options {
  display: flex;
  flex-wrap: row;
  justify-content: left;
  gap: 20px;
}

.project-modal-tasks-expand-container {
  margin-top: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
}

.project-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.project-task-upload-btn {
  margin-top: 0;
  width: 110px;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-color);
}

/* Modal */
.project-modal {
  height: 100vh;
}

/* Helper Classes */
.btn-holder {
  display: flex;
  flex-wrap: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.reset-margin-top {
  margin-top: 0;
}

.btn-small {
  width: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--payment {
  font-size: 0.75rem;
}

.btn-dark {
  color: var(--text-light-color);
  background-color: var(--background-dark-color);
  border-radius: 25px;
}

.btn-light {
  color: var(--text-dark-color);
  background-color: var(--background-accessibility-grey);
  border-radius: 25px;
}

.btn-close-project {
  margin-top: 0;
}

.btn-page-five {
  width: 200px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-center {
  text-align: center;
}

.comment-list {
  font-size: 0.75rem;
  margin-left: 22px;
}

.comment-list__header {
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

/* Stripe Form */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: flex;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.stripe-btn {
  display: block;
  font-size: 1rem;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.colab-folder-logo {
  width: 3.286rem;
  height: 2.5555rem;
}

.colab-text-logo {
  width: 121px;
  height: 29px;
}

.text--underline {
  text-decoration: underline;
  color: #696969;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keywords-container {
  border: none;
  border-radius: 3px;
  width: min(80vw, var(--max-width));
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  gap: 5px 15px;
  margin-bottom: 1rem;
}
.keywords-container--guidelines {
  margin-bottom: 0;
}

.keywords-item {
  border: 1px solid #d6d6d6;
  background-color: var(--background-accessibility-color);
  color: var(--text-dark-color);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.keywords-text {
  font-size: 1rem;
}

.keywords-delete {
  width: 20px;
  color: #696969;
  background: #fcfcfc;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.hashtags-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.keywords-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.phrases-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.keywords-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.tags-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.hashtags-delete {
  width: 20px;
  color: #696969;
  background: #fcfcfc;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.phrases-delete {
  width: 20px;
  color: #696969;
  background: #fcfcfc;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.tags-delete {
  width: 20px;
  color: #696969;
  background: #fcfcfc;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

.div-align-left {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.label-row-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.label-row-container--justify-left {
  justify-content: left;
}
.label-row-container--left {
  justify-content: left;
  gap: 5rem;
}
.label-row-container--half {
  width: 50%;
}
.label-row-container--guidelines {
  gap: 16rem;
}
.label-row-container__col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label-row-container__col--half {
  width: 50%;
}
.label-row-container__col--keywords {
  width: 70%;
}
.label-row-container__col--revisions {
  width: 30%;
}
.label-row-container__col--compensation {
  width: 25%;
}

.label-col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label-col-container--accept {
  align-items: center;
  gap: 1rem;
}
.label-col-container__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.label-col-container--preview {
  width: 50%;
}
.label-col-container--guidelines {
  gap: 2rem;
}

.heading-large {
  font-family: "SF Pro";
  font-size: 48px;
  margin-bottom: 0.5rem;
}

.heading {
  font-family: "SF Pro";
  margin-bottom: 0.5rem;
}
.heading--small {
  font-size: 32px;
}
.heading--medium {
  font-size: 40px;
}
.heading--large {
  font-size: 48px;
}
.heading--largest {
  font-size: 64px;
}

.btn-accept {
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #1f1f1f;
  border-radius: 91px;
  padding: 8px 48px;
  width: 35%;
  font-size: 1.25rem;
}
.btn-accept--small {
  width: 15%;
}
.btn-accept--disabled {
  background-color: #939393;
  border: none;
}
.btn-negotiate {
  background-color: #fff;
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
  border-radius: 91px;
  padding: 8px 48px;
  width: 35%;
}
.btn-negotiate--white {
  background-color: #fcfcfc;
  color: #1f1f1f;
}
.btn-negotiate--disabled {
  color: #696969;
  border: 1px solid #939393;
}
.btn-modal-navbar {
  background: transparent;
  border: none;
  color: #1f1f1f;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem 1rem;
  width: 15%;
  text-align: center;
}
.btn-modal-navbar--highlight {
  border-bottom: 1px solid #272727;
  padding-bottom: 1rem;
}
.btn-modal-navbar--greyed {
  color: rgba(96, 96, 96, 0.2980392157);
}
.btn-copy {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.btn-dotted {
  border: 1px dashed #d6d6d6;
  color: #1f1f1f;
  border-radius: 91px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
  width: 15%;
  font-size: 1rem;
  background-color: #fcfcfc;
}
.btn-dotted--medium {
  width: 25%;
}
.btn-dotted--large {
  width: 35%;
}
.btn-dotted--full {
  width: 100%;
}
.btn-dotted--success {
  background-color: var(--success-color);
  color: var(--text-light-color);
}
.btn-cta {
  width: 100%;
  border-radius: 91px;
  margin-bottom: 1rem;
  padding: 0.5rem 3rem;
  font-size: 20px;
}
.btn-cta--medium {
  width: 35%;
}
.btn-cta--active {
  background-color: black;
  color: #fff;
  border: none;
}
.btn-cta--inactive {
  background-color: #939393;
  border: none;
  color: #fff;
}
.btn-cta--skip {
  border: none;
  margin: 0;
  padding: 0;
  color: #696969;
}
.btn-blank {
  border: none;
  color: #696969;
}
.btn-hide {
  font-size: 1rem;
  border: none;
  padding: 0.4rem;
  background-color: rgb(254, 252, 251);
}
.btn-hide:hover {
  cursor: pointer;
}
.btn-hide--light {
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.btn-container--col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container--right {
  justify-content: right;
}
.btn-container--center {
  justify-content: center;
  gap: 1rem;
}/*# sourceMappingURL=index.css.map */