$primary-color: #cec362;
$secondary-color: #183683;

$warning-color: #feb624;
$success-color: #3c645b;

$background-dark-color: #272727;
$background-light-color: #fcfcfc;

$background-light-grey: #f5f5f5;

$transparent-dark-color: rgba(0, 0, 0, 0.7);
$header-light-color: #fffefe;
$text-dark-color: #1f1f1f;
$text-light-color: #f5f5f5;
$text-grey: #7c7c7c;
$text-dark-grey: #696969;
$background-dark-grey: #dedede;
$background-accessibility-grey: #efefef;
$error-color: #ee4242;

$form-border-color: #d6d6d6;
$btn-grey-color: #939393;
$btn-light-text-color: #f5f5f5;
