@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "SF Pro";
  src: url("../../assets/fonts/SF-Pro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: expanded;
}

/* Desktop + Tablet Font Sizes */
$desktop-page-header: 3rem; // 48px
// $desktop-section-header: 0.75rem; // 12px
// $desktop-subheader: 0.875rem; // 14px
$desktop-body-copy-regular: 1.375rem;
$desktop-body-copy-small: 1.25rem; //20px
$desktop-body-copy-tiny: 0.8rem; //14px
$desktop-note: 0.875rem;

$desktop-label: 0.75rem; // 12px
$desktop-btn-small: 0.75rem; //12 px
// $desktop-btn-regular: 1.25rem;
$desktop-btn-regular: 20px;
$btn-text: 1.25rem;
