// Layout Grid
// desktop
$desktop-column: 3.9375rem;
$desktop-gutter: 1.5rem;

// desktop and tablet
$desktop-padding-before-headline: 2.25rem;
$desktop-padding-after-headline: 1.5rem;
$desktop-padding-between: 1.5rem;

// tablet
$tablet-gutter: 1.5rem;
$tablet-margin: 2.25rem;

// mobile
$mobile-gutter: 1rem;
$mobile-margin: 1rem;

$mobile-padding-before-headline: 1.5rem;
$mobile-padding-after-headline: 1rem;
$mobile-padding-between: 1rem;

// Iconography
$logo-max-height: 1.5625rem;
$logo-max-width: 7.5rem;

$button-height: 2.5rem;
$desktop-button-min-width: 9.375rem;
$desktop-button-padding-side: 2rem;
$button-radius: 4px;

// Divider
$divider-width: 1px;
