@use "partials/index" as *;

.change-password {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__instructions {
    font-size: 14px;
    color: $text-dark-grey;
    margin-bottom: 0.7rem;
    &--offscreen {
      position: absolute;
      left: -9999px;
    }
  }
}
