@use "partials/index" as *;

.create-project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__close-btn {
    width: 70%;
    border: 1px solid black;
    border-radius: 30px;
  }

  &__success-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__text {
    &--header {
      font-family: "SF Pro";
      font-size: 48px;
    }
  }

  &__hide-btn {
    font-size: 16px;
    border: none;
    padding: 0.4rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.create-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  width: 70vw;

  &__profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 1rem;
  }
  &__media-kit {
    &--link {
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }
  }
  &__text {
    &--success {
      color: $success-color;
      margin-bottom: 0.5rem;
    }
  }

  &__label-row-container {
    display: flex;
    justify-content: space-between;
  }

  &__instructions {
    font-size: 14px;
    color: $text-dark-grey;
    margin-bottom: 1rem;
    &--center {
      text-align: center;
    }
    &--offscreen {
      position: absolute;
      left: -9999px;
    }
  }

  &__label {
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
  }
  &__input {
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    &--file {
      width: 300px;
      text-align: center;
      margin: 0.3rem 6rem;
      &::file-selector-button {
        border-radius: 5px;
        font-family: "DM Sans";
        background: $background-light-color;
        color: $text-dark-color;
        width: 200px;
        display: block;
      }
    }

    &--invalid {
      font-size: 16px;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 12px;
      border: 1px solid red;
    }
    &--password {
      margin-bottom: 0.2rem;
    }
  }
}
