@use "./partials/index" as *;

.App-inner {
  width: 100%;
  max-width: 100%;
}

.notification-btn {
  width: 100px;
  border: none;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;

  // surrounds entire card
  &__btn {
    background-color: #fcfcfc;
    width: 31%;
    border-radius: 30px;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }

  &-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 30%;
    min-width: 20%;
    max-width: 20%;
    background-color: #ececec;
  }

  &-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
  }

  &-links {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;

    &--grey {
      background-color: #f5f5f5;
    }
    &--light {
      background-color: $background-light-color;
    }

    &--justify-right {
      justify-content: right;
      padding: 1rem 2rem;
    }
    &-left {
      &__greeting {
        font-family: "SF Pro";
      }
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
  }

  &-create {
    display: flex;
    flex-direction: row-reverse;
    &__btn {
      font-size: 0.9rem;
      border: none;
      position: "relative";
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.img-container {
  position: relative;
  text-align: center;
  &__text {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: transparent;
  }
}

.project-container {
  // display: grid;
  // gap: 2.5rem;
  // height: auto;
  // grid-template-columns: repeat(3, 1fr);

  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 2.5rem;
  flex-wrap: wrap;

  background-color: #f5f5f5;
  padding: 2.5rem 2rem;
  // padding-bottom: 350px;

  &__text-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  &__text {
    font-weight: 400;
    color: $text-dark-color;
    &--company {
      font-size: 32px;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
    }
    &--title {
      font-size: 22px;
      margin-bottom: 0.5rem;
    }
    &--date {
      font-size: 16px;
      margin-bottom: 0.4rem;
    }
    &--status {
      font-size: 12px;
      color: $text-dark-grey;
      margin-bottom: 0.6rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__btn {
    border: none;
    border-radius: 40%;
    background-color: (var(--background-accessibility-color));
    color: (var(--primary-color));
    margin-top: 0;
  }
}

// Top Left
.logo-container {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  display: flex;
  background-color: #ececec;
  gap: 1rem;
  &__logo {
    height: auto;
    background: transparent;
    &--co {
      width: 30px;
    }

    &--colab {
      width: 100px;
    }
  }
}
.select {
  font-family: FontAwesome;
}
// Middle Left
.dashboard-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: #ececec;

  &__ul {
    text-align: left;
  }

  &__li {
    border-bottom: 1px solid hsl(0, 0%, 61%);
    background-color: #ececec;
    &--last {
      border-bottom: none;
    }
  }

  &__link {
    background-color: #ececec;
    // padding-bottom: 0.5rem;
    border: none;
    border-radius: 9px;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;

    &--active {
      background-color: $background-dark-grey;
    }
  }
}

.project-card-header {
  display: flex;
  justify-content: space-between;
}

.project-modal {
  position: "fixed";
  top: 50%;
  left: 50%;
  transform: "translate(-50%, -50%)";
  background-color: (--background-light-color);
  padding: 50px;
  z-index: 1000;
}

.project-modal-overlay {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: (var(--transparent-dark-color));
  z-index: 1000;
}

.project-details-company {
  font-size: 1.15rem;
  font-weight: bold;
}

.project-details-header {
  font-size: 1.25rem;
}
