@use "partials/index" as *;

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 44px;
}

.guidelines-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $form-border-color;
  border-radius: 25px;
  padding: 1rem 1.5rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    color: $text-dark-color;
    font-weight: 400;
  }

  &__btn-expand {
    margin-top: 0;
    border: none;
    background-color: transparent;
  }

  &__flex-one {
    margin: 0 20px 0 0;
  }
  &__flex-three {
    margin-left: auto;
  }
}

/* Manual Flexbox Settings for ProjectModal Tasks */
.flex-item-one {
}

/* .flex-item-two {
  margin: 0 200px 0 0;
} */

.flex-item-three {
}

.project-modal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;

  &__submission {
    border-radius: 10px;
    &--small {
      width: 300px;
      height: auto;
    }
  }
  &-card {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    gap: 30px;
    padding-left: 2rem;
    margin-bottom: 15px;

    &--column {
      flex-direction: column;
    }
  }

  &__header {
    font-size: 36px;
  }

  &-navbar {
    display: flex;
    flex-wrap: row;
    margin: 15px;
    justify-content: center;
    gap: 50px;
  }
  //
  /* Project Modal - Page One - Overview */

  &__product {
    max-width: 100%;
    height: 150px;
    align-items: center;
    object-fit: cover;
    object-position: 0 100%;
    border: 2px solid #000;
    border-radius: 15px;
  }
}

.project-modal-page-highlight {
  border-bottom: 6px solid var(--background-dark-color);
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-modal-page-greyed {
  color: #6060604c;
}
.project-modal-title {
  color: var(--text-dark-color);
}

.project-modal-page {
  display: flex;
  flex-wrap: column;
  gap: 20px;
  padding: 0 2rem;
}

/* Page 2: Products */

.project-modal-add-product {
  display: flex;
  flex-wrap: row;
  border: 1px dashed #000;
  border-radius: 25px;
  padding: 30px;
  gap: 30px;
  margin-bottom: 15px;
}

.project-modal-product-photo {
  max-width: 40%;
  height: auto;
}

/* Page 4: Guidelines */

.project-modal-examples-container {
  display: flex;
  flex-wrap: row;
  gap: 30px;
  justify-content: center;
}

.project-modal-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-modal-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.deadline-text {
  font-size: 0.8rem;
}

.deadline-text-large {
  font-size: 1rem;
  margin-top: 10px;
}

.project-modal-tasks-card-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.5rem;
  align-items: center;
}
