@use "partials/index" as *;

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 44px;
}

.guidelines-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $form-border-color;
  border-radius: 25px;
  padding: 1rem 1.5rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    color: $text-dark-color;
    font-weight: 400;
  }

  &__btn-expand {
    margin-top: 0;
    border: none;
    background-color: transparent;
  }

  &__flex-one {
    margin: 0 20px 0 0;
  }

  &__flex-three {
    margin-left: auto;
  }
}

.stack {
  position: relative;
  top: 0;
  left: 0;
  background-color: $background-light-grey;
  //image
  &__under {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  // close button
  &__over {
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: transparent;
    color: $text-light-color;
  }
}

.project-modal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: "fixed";
  top: 50%;
  left: 25.5%;
  transform: "translate(-50%, -50%)";
  z-index: 1000;

  &-contract {
    background: $background-light-color;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    // height: 31.25rem;
    height: 100%;
    overflow: hidden;
  }

  &__text {
    font-size: 1rem;
    color: $text-dark-color;
  }

  &__heading {
    font-size: 2rem;
    color: $text-dark-color;
    font-family: "SF Pro";
    &--medium {
      font-size: 1.5rem;
    }
  }

  &__subheading {
    font-size: 1.375rem;
    color: $text-dark-color;
    font-weight: 400;
    margin: 1.125rem 0 1rem;
  }

  &-page {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    // padding: 1.75rem 1.5rem;
    height: 100%;

    &--center {
      margin-top: 7.875rem;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &--center {
        align-items: center;
        text-align: center;
      }
    }

    &__label {
      font-size: 0.75rem;
      letter-spacing: 0.5px;
      color: $text-dark-grey;
      text-transform: uppercase;
    }

    &__value {
      font-size: 1rem;
      color: $text-dark-color;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    height: 100vh;
    background-color: $background-light-grey;
  }

  &__submission {
    border-radius: 10px;
    height: auto;
    width: 300px;
    &--small {
      width: 300px;
      height: auto;
    }
  }
  &-card {
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    gap: 30px;
    padding-left: 2rem;
    margin-bottom: 15px;

    &--column {
      flex-direction: column;
    }
  }

  &__header {
    font-size: 36px;
  }

  &-navbar {
    display: flex;
    flex-wrap: row;
    justify-content: left;
    border-bottom: 1px solid $background-dark-grey;
    padding: 1rem 0 0;
    gap: 50px;
    &__text {
      color: $text-dark-color;
      font-weight: 400;
      font-size: 1rem;
      padding: 0 1rem;
      width: 15%;
      text-align: center;
      &--highlight {
        border-bottom: 1px solid $background-dark-color;
        padding-bottom: 10px;
      }

      &--greyed {
        color: #6060604c;
      }
    }
  }
  //
  /* Project Modal - Page One - Overview */

  &__product {
    max-width: 100%;
    height: 150px;
    align-items: center;
    object-fit: cover;
    object-position: 0 100%;
    border: 2px solid #000;
    border-radius: 15px;
  }
}

.page {
  padding: 1.75rem 1.5rem;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
}

.project-modal-overlay {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: (var(--transparent-dark-color));
  z-index: 1000;
}

.project-details-company {
  font-size: 1.15rem;
  font-weight: bold;
}

.project-details-header {
  font-size: 1.25rem;
}

.project-modal-title {
  color: var(--text-dark-color);
}

/* Page 2: Products */

.project-modal-add-product {
  display: flex;
  flex-wrap: row;
  border: 1px dashed #000;
  border-radius: 1.5rem;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 1rem;
}

.project-modal-product-photo {
  max-width: 40%;
  height: auto;
}

/* Page 4: Guidelines */

.examples-container {
  display: flex;
  flex-wrap: row;
  gap: 2rem;
  justify-content: left;
  &__example {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 0.6875rem;
  }

  &__text {
    color: $text-dark-color;
    font-size: 1rem;
  }
}

.deadline-text {
  font-size: 0.8rem;
}

.deadline-text-large {
  font-size: 1rem;
  margin-top: 0.625rem;
}

.project-modal-tasks-card-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.5rem;
  align-items: center;
}
