@use "partials/index" as *;

.app-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  // padding: 1rem 0.5rem;
  // margin: $margin-top $margin-sides;
}

.app-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  margin-top: 5rem;

  &__container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 500px;
  }

  &__img-right {
    object-fit: cover;
    // width: 592px;
    // width: 300px;
    max-width: 100%;
    height: auto;
    // height: 81rem;
    max-height: 81rem;
    // border-radius: 30px;
  }

  &__folder-logo {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 1.5rem;
    font-size: $desktop-page-header;
    font-weight: bolder;
  }

  &__description {
    margin-bottom: 2.5rem;
  }

  // I am an influencer/brand button
  &__btn {
    margin-top: 0;
    margin-bottom: 1.5rem;
    width: 10px;
    // width: 17.875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 0.5rem 16rem;
    padding: 0.5rem 10rem;

    gap: 0.5rem;
    height: 2.625rem;
    background: #fcfcfc;
    border: 1px solid #000000;
    border-radius: 91px;
    font-size: $btn-text;
  }

  &__link {
    text-decoration: underline;
    color: $text-dark-color;
    &:visited {
      color: $text-dark-color;
    }
  }
}

.register {
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;

    &__instructions {
      font-size: 14px;
      color: $text-dark-grey;
      margin-bottom: 0.7rem;
      &--offscreen {
        position: absolute;
        left: -9999px;
      }
    }

    &__label {
      font-size: 1rem;
      color: #1f1f1f;
      margin-bottom: 0.1rem;
    }
    &__input {
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 12px;
      &--invalid {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        border: 1px solid red;
      }
      &--password {
        margin-bottom: 0.2rem;
      }
    }
  }

  &__description {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__subheader {
    margin-bottom: 1rem;
  }

  &__btn-back {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3rem;
    color: $text-dark-grey;
    font-size: 0.85rem;
    background-color: $background-light-color;
  }

  &__btn-cta {
    background-color: $text-dark-color;
    border: none;
    color: $text-light-color;
    width: 70%;
    border-radius: 91px;
    margin-bottom: 1rem;
    padding: 0.5rem 3rem;
    font-size: $desktop-btn-regular;
  }

  &__text {
    &--subtle {
      font-size: $desktop-body-copy-tiny;
      color: $text-dark-grey;
      &:visited {
        color: $text-dark-grey;
      }
    }
  }
}

.instructions > svg {
  margin-right: 0.25rem;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
